.game-grid {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: var(--secondary-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.grid-element {
    height: calc(500px / 16);
    width: calc(500px / 16);
}

.square:hover {
    background-color: #e0e0e0;
}
