.cell {
    display: inline-block;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.game-grid {
    width: 70dvw;
    height: 70dvh;

    box-shadow: 0 0 10px 10px #000000;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
